################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StockTrader RI/.vs/StockTraderRI_Desktop
